flow.json
[
    {
        "id": "eda95a3716e96397",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3c92b9e2d05f9fc",
        "type": "tab",
        "label": "Поток 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e36a345faebe1c4b",
        "type": "tab",
        "label": "Поток 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2f9fd9e3efec85a4",
        "type": "telegram bot",
        "botname": "Socrates",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7027e78f33534631",
        "type": "telegram receiver",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "2b3e992a14b019b8"
            ],
            []
        ]
    },
    {
        "id": "dcb884dbeadddadc",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 2",
        "func": "if (msg.statusCode == 200) {\n    msg.answer = msg.payload.choices[0].message.content\n    msg.payload = {\n        content: msg.answer,\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n    }\n    return [msg, null];\n}\nelse {\n    msg.payload = {\n        content: JSON.stringify(msg.payload),\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n    }\n\n    return [null, msg]\n}\n\n\n// msg.old = msg.payload\n// msg.url = 'https://api.openai.com/v1/images/generations'\n\n// msg.headers = {\n//     \"Content-Type\": \"application/json\" ,\n//     \"Authorization\": \"Bearer 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\",\n// }\n// msg.payload = {\n//     \"prompt\": msg.oldpayload.content,\n//     \"n\": 1,\n//     \"size\": '1024x1024'\n// }\n// return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "01ef2d4907bfcc5f",
                "8f87e13e21b28818"
            ],
            [
                "01d87f4681a67129"
            ]
        ]
    },
    {
        "id": "2b3e992a14b019b8",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 4",
        "func": "msg.fromApp = msg.payload;\nif (msg.payload.content == '/start') {\n    msg.payload = {\n        content: \"Даний бот відповідатиме як давньогрецький Філософ Сократ, а картини малюватиме у Українському стилі.\",\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n\n    }\n    return [ msg, null]\n}\nelse {\n    msg.method = \"POST\"\n    msg.url = 'https://api.openai.com/v1/chat/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer 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`,\n    };\n    msg.payload = {\n        \"model\": \"gpt-3.5-turbo-16k\",\n        \"temperature\": 0.2,\n        \"messages\": [\n\n            {\n                \"role\": \"system\", \"content\": `Ти давньогрецький філософ Сократ, який ділиться своєю мудрістю з наступними поколіннями. Будь ласка формулюй відповіді, так як б їх сформулював Сократ.`\n            },\n            {\n                \"role\": \"user\", \"content\": msg.fromApp.content\n            }\n        ]\n    }\n\n\n\n\n    return [ null, msg];  \n}\n\n\n// if(msg.payload.content.includes('/start')){\n//     return[msg,null,null]\n// }\n// if(msg.payload.type === \"message\"){\n//     return[null,msg,null]\n// }\n// else{\n//     return[null,null,msg]\n// }\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 440,
        "wires": [
            [
                "e6eb8131cee870e1"
            ],
            [
                "bea068aaf8cb40fa"
            ]
        ]
    },
    {
        "id": "bea068aaf8cb40fa",
        "type": "http request",
        "z": "eda95a3716e96397",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "dcb884dbeadddadc"
            ]
        ]
    },
    {
        "id": "01d87f4681a67129",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 670,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "01ef2d4907bfcc5f",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 670,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e6eb8131cee870e1",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 310,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8f87e13e21b28818",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 5",
        "func": "// msg.fromApp = msg.payload;\nmsg.method = \"POST\"\nmsg.url = 'https://api.openai.com/v1/images/generations';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer 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',\n};\nmsg.payload = {\n    \"model\": \"dall-e-3\",\n    \"prompt\": `${msg.fromApp.content} в українському стилі`,\n    \"n\": 1,\n    \"size\": \"1024x1024\",\n \n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "e7da76b0963acb17"
            ]
        ]
    },
    {
        "id": "e7da76b0963acb17",
        "type": "http request",
        "z": "eda95a3716e96397",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 440,
        "wires": [
            [
                "aa77fdc64c568fa4"
            ]
        ]
    },
    {
        "id": "aa77fdc64c568fa4",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 6",
        "func": "if (msg.statusCode == 200) {\n   \n    msg.answer = `<a href=\"${msg.payload.data[0].url}\">image </a>`;\n   \n    msg.payload = {\n        content: msg.answer,\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n        options: { parse_mode: \"HTML\" }\n    }\n    return [msg, null];\n}\nelse {\n    msg.payload = {\n        content: JSON.stringify(msg.payload),\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n    }\n\n    return [null, msg]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "14d83b4908d9325a"
            ],
            [
                "84c0e82f57f2fe82"
            ]
        ]
    },
    {
        "id": "14d83b4908d9325a",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1170,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "84c0e82f57f2fe82",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    }
]