flow.json
[
    {
        "id": "eda95a3716e96397",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3c92b9e2d05f9fc",
        "type": "tab",
        "label": "Поток 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e36a345faebe1c4b",
        "type": "tab",
        "label": "Поток 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2f9fd9e3efec85a4",
        "type": "telegram bot",
        "botname": "Socrates",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7027e78f33534631",
        "type": "telegram receiver",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "2b3e992a14b019b8",
                "b883bf6bd29727c5"
            ],
            []
        ]
    },
    {
        "id": "ee8f5092bc0d8031",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "dcb884dbeadddadc",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 2",
        "func": "if (msg.statusCode == 200) {\n    msg.answer = msg.payload.choices[0].message.content\n    msg.payload = {\n        content: msg.answer,\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n    }\n    return [msg, null];\n}\nelse {\n    msg.payload = {\n        content: JSON.stringify(msg.payload),\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n    }\n\n    return [null, msg]\n}\n\n\n// msg.old = msg.payload\n// msg.url = 'https://api.openai.com/v1/images/generations'\n\n// msg.headers = {\n//     \"Content-Type\": \"application/json\" ,\n//     \"Authorization\": \"Bearer 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\",\n// }\n// msg.payload = {\n//     \"prompt\": msg.oldpayload.content,\n//     \"n\": 1,\n//     \"size\": '1024x1024'\n// }\n// return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 440,
        "wires": [
            [
                "43eecef7f1edf772",
                "01ef2d4907bfcc5f",
                "c30b2267e9c44a07"
            ],
            [
                "01d87f4681a67129"
            ]
        ]
    },
    {
        "id": "2b3e992a14b019b8",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 4",
        "func": "msg.fromApp = msg.payload;\nif (msg.payload.content == '/start') {\n    msg.payload = {\n        content: \"Даний бот відповідатиме як давньогрецький Філософ Сократ, а картини малюватиме у Українському стилі.\",\n        type: \"message\",\n        chatId: msg.fromApp.chatId,\n\n    }\n    return [ msg, null]\n}\nelse {\n    msg.method = \"POST\"\n    msg.url = 'https://api.openai.com/v1/chat/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer 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`,\n    };\n    msg.payload = {\n        \"model\": \"gpt-3.5-turbo-16k\",\n        \"temperature\": 0.2,\n        \"messages\": [\n\n            {\n                \"role\": \"system\", \"content\": `Ти давньогрецький філософ Сократ, який ділиться своєю мудрістю з наступними поколіннями. Будь ласка формулюй відповіді, так як б їх сформулював Сократ.`\n            },\n            {\n                \"role\": \"user\", \"content\": msg.fromApp.content\n            }\n        ]\n    }\n\n\n\n\n    return [ null, msg];  \n}\n\n\n// if(msg.payload.content.includes('/start')){\n//     return[msg,null,null]\n// }\n// if(msg.payload.type === \"message\"){\n//     return[null,msg,null]\n// }\n// else{\n//     return[null,null,msg]\n// }\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "e6eb8131cee870e1",
                "4bb569f3a1367a41"
            ],
            [
                "bea068aaf8cb40fa",
                "9c05a9bad76db5de"
            ]
        ]
    },
    {
        "id": "43eecef7f1edf772",
        "type": "http request",
        "z": "eda95a3716e96397",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 300,
        "wires": [
            [
                "b15e4bfedf100feb"
            ]
        ]
    },
    {
        "id": "b15e4bfedf100feb",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 5",
        "func": "if(msg.statusCode === 200){\n    msg.payload.type = \"message\";\n    msg.payload.content = `<a href=\"${msg.payload.data[0].url}\"></a>`;\n    msg.payload.chatId = `${msg.old.chatId}`;\n    msg.payload.options = {parse_mode : \"HTML\"};\n}\n\nelse{\n  msg.payload.type = \"message\";\n      msg.payload.content = `${msg.payload.error.message}`;\n    msg.payload.chatId = `${msg.old.chatId}`;\n   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 480,
        "wires": [
            [
                "ee8f5092bc0d8031"
            ]
        ]
    },
    {
        "id": "bea068aaf8cb40fa",
        "type": "http request",
        "z": "eda95a3716e96397",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "dcb884dbeadddadc",
                "b57bcf82b65c899c"
            ]
        ]
    },
    {
        "id": "9c05a9bad76db5de",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "01d87f4681a67129",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 750,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "01ef2d4907bfcc5f",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 240,
        "wires": [
            [
                "38fda5f10da107da"
            ]
        ]
    },
    {
        "id": "b883bf6bd29727c5",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 620,
        "wires": []
    },
    {
        "id": "e6eb8131cee870e1",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "20f49ba1e58b0848"
            ]
        ]
    },
    {
        "id": "b57bcf82b65c899c",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "20f49ba1e58b0848",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "c30b2267e9c44a07",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "38fda5f10da107da",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "4bb569f3a1367a41",
        "type": "debug",
        "z": "eda95a3716e96397",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 320,
        "wires": []
    }
]