flow.json
[
    {
        "id": "eda95a3716e96397",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3c92b9e2d05f9fc",
        "type": "tab",
        "label": "Поток 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e36a345faebe1c4b",
        "type": "tab",
        "label": "Поток 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2f9fd9e3efec85a4",
        "type": "telegram bot",
        "botname": "Socrates",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7027e78f33534631",
        "type": "telegram receiver",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "2b3e992a14b019b8"
            ],
            []
        ]
    },
    {
        "id": "195647f4f3349435",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e6eb8131cee870e1",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ee8f5092bc0d8031",
        "type": "telegram sender",
        "z": "eda95a3716e96397",
        "name": "",
        "bot": "2f9fd9e3efec85a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "aa854c62275731c4",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 1",
        "func": "msg.old = msg.payload\nmsg.payload = {\n    type: \"message\",\n    content: \"What do you want to see?\",\n    chatId : msg.old.chatId,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "195647f4f3349435"
            ]
        ]
    },
    {
        "id": "dcb884dbeadddadc",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 2",
        "func": "msg.old = msg.payload\nmsg.url = 'https://api.openai.com/v1/images/generations'\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\" ,\n    \"Authorization\": \"Bearer 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\",\n}\nmsg.payload = {\n    \"prompt\": msg.oldpayload.content,\n    \"n\": 1,\n    \"size\": '1024x1024'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "43eecef7f1edf772"
            ]
        ]
    },
    {
        "id": "0a6e76ea6918aeb6",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 3",
        "func": "msg.old = msg.payload\nmsg.payload = {\n    type: \"message\",\n    content: \"Error: you can send only text message\",\n    chatId : msg.old.chatId\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 600,
        "wires": [
            [
                "e6eb8131cee870e1"
            ]
        ]
    },
    {
        "id": "2b3e992a14b019b8",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 4",
        "func": "if(msg.payload.content.includes('/start')){\n    return[msg,null,null]\n}\nif(msg.payload.type === \"message\"){\n    return[null,msg,null]\n}\nelse{\n    return[null,null,msg]\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [],
            [
                "aa854c62275731c4",
                "dcb884dbeadddadc"
            ],
            [
                "0a6e76ea6918aeb6"
            ]
        ]
    },
    {
        "id": "43eecef7f1edf772",
        "type": "http request",
        "z": "eda95a3716e96397",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 480,
        "wires": [
            [
                "b15e4bfedf100feb"
            ]
        ]
    },
    {
        "id": "b15e4bfedf100feb",
        "type": "function",
        "z": "eda95a3716e96397",
        "name": "function 5",
        "func": "if(msg.statusCode === 200){\n    msg.payload.type = \"message\";\n    msg.payload.content = `<a href=\"${msg.payload.data[0].url}\"></a>`;\n    msg.payload.chatId = `${msg.old.chatId}`;\n    msg.payload.options = {parse_mode : \"HTML\"};\n}\n\nelse{\n  msg.payload.type = \"message\",;\n      msg.payload.content = `${msg.payload.error.message}`;\n    msg.payload.chatId = `${msg.old.chatId}`;\n   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 480,
        "wires": [
            [
                "ee8f5092bc0d8031"
            ]
        ]
    }
]